-i https://pypi.python.org/simple
pip
tornado==5.1.1
pymysql==0.9.2
asn1crypto==0.24.0
bytestring-splitter
cffi==1.11.5
cryptography==3.2
idna==2.7
msgpack-python==0.5.6
pycparser==2.18
pynacl==1.2.1
six==1.11.0
